/*-------------------------------------------- General Layout */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
    font-family: calibri, serif;
    font-size: 16px;
}


/*-------------------------------------------- Header */

header {
    z-index: 1;
}

nav.navbar.navbar-inverse {
    position: fixed;
    width: 100vw;
}

.navbar-inverse {
    background-color: #f5f5f5;
    color: #777;
}

nav.navbar.navbar-inverse {
    margin-bottom: 0;
    border-radius: 0px;
    border: none;
}

a.navbar-brand {
    font-weight: 600;
    word-spacing: 3px;
}


/* Header - Hover & Active section */

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #286090;
    background-color: transparent;
    font-style: italic;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #c78021e0;
    background-color: transparent;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
    color: #77777773;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #77777773;
    color: white;
}

/* -------------------------------------------- Footer */

footer {
    background-color: #f5f5f5;
    min-height: 50px;

    position: fixed;
    z-index: 1;
    width: 100vw;
    margin-bottom: 0px;
    bottom: 0px;
}

.footer-sub {
    color: #777;
    word-spacing: 3px;
    text-align: center;
    vertical-align: middle;
    top: 15px;
}

.footer-sub>a {
    color: #777;
}

.social-links li a i {
    color: #777;
    background: #8f8f8f85;
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 50%;
}

/* Footer - Hover */

.social-links li a i:hover {
    color: #c78021e0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}

.footer-sub>a:focus,
.footer-sub>a:hover {
    text-decoration: none;
    color: #c78021e0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}





/*-------------------------------------------- Section 1 - Home Page */

.home-page {
    background: url("../images/bg1-1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
    color: #f5f5f5;
    text-align: center;
    display: flex;
    align-items: center;

    z-index: 0;

}

.first-header {
    text-shadow: 10px 0 15px black;
    text-transform: uppercase;
    z-index: 0;
}


/* TO BE HIDDEN FOR CAROUSEL
    display: flex;
    align-items: center;
/*

/*-------------------------------------------- Section 2 - Services */

.services-page {
    background: url("../images/bg2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
    height: 100vh;
    color: #f5f5f5;

    z-index: 0;

}

.box-set {
    padding: 5px 0;
    margin: 5px;
    background-color: #f5f5f5;
    color: #777;
    border-radius: 15px;
}

/*-------------------------------------------- Section 3 - Docor */

.doctor-page {
    height: 100vh;

}

/*-------------------------------------------- Section 4 - About Us */

.about-page {
    height: 100vh;
    background-color: #ddd;

}


/*-------------------------------------------- Section 5 - Contact Us */

.contact-page {
    background: url("../images/bg5.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
    color: #f5f5f5;
    text-align: center;

    z-index: 0;

    margin-top: 0px;

}

.bg-space {
    background-color: transparent;
    height: 100vh;
}

.form-valign {
    padding-top: 10%;
}

.center-form {
    width: 100%;
}

.center-form form input,
.center-form form textarea,
.center-form form button {
    margin-top: 15px;
    border-radius: 15px;
}

.center-form form button {
    border-radius: 50px;
    color: #777;
    background-color: #f5f5f5;
}

.center-form form button:focus,
.center-form form button:hover {
    color: #c78021e0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}
