/*-------------------------------------------- General Layout */

/* Font-Family settings */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700,800,900');

body {
    font-family: 'Source Sans Pro', calibri;
    font-size: 16px;
    overflow-y: scroll;
    position: relative;
}

.container-fluid {
    padding: 0 30px;
}

ul {
    padding-left: 0;
}

.wrapper-center {
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}

/* Titles for all sections */

h1,
h2 {
    font-size: 32px;
    text-transform: uppercase;
    margin: 20px auto 10px;
    padding-bottom: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}

.about-header,
.maps-header {
    color: rgba(17, 64, 83, 1);
}

.doc-header,
.contact-header,
.home-header,
.services-header {
    color: #f5f5f5;
}

.sub-header {
    letter-spacing: 1px;
    color: #f5f5f5;
}

/*-------------------------------------------- Header */

header {
    font-size: 14px;
}

nav.navbar.navbar-inverse {
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.navbar-inverse {
    background-color: #f5f5f5;
}

.navbar-inverse .navbar-brand {
    color: rgba(17, 64, 83, 0.9);
}

.navbar-inverse .navbar-nav>li>a {
    color: rgba(17, 64, 83, 0.9);
}

nav.navbar.navbar-inverse {
    margin-bottom: 0;
    border-radius: 0px;
    border: none;
}

a.navbar-brand {
    font-weight: 600;
    word-spacing: 3px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgba(17, 64, 83, 0.9);
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}


/* Header - Hover & Active section */

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #f5f5f5;
    background-color: rgba(17, 64, 83, 0.8);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #c78021e0;
    background-color: transparent;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}


.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #ccc;
}


/* -------------------------------------------- Footer */

footer {
    background-color: #f5f5f5;
    min-height: 50px;

    z-index: 3;
    width: 100vw;
    margin-bottom: 0px;
    bottom: 0px;

    font-size: 12px;
}

.footer-sub {
    color: rgba(17, 64, 83, 0.9);
    word-spacing: 3px;
    text-align: center;
    vertical-align: middle;
    top: 12px;
}

.adj-padding {
    padding-top: 5px;
}

.footer-sub>a {
    color: rgba(17, 64, 83, 0.9);
}

.social-links li a i {
    color: rgba(17, 64, 83, 1);
    background: rgba(17, 64, 83, 0.4);
    font-size: 20px;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    border-radius: 50%;
}

/* Footer - Hover */

.social-links li a i:hover {
    color: #c78021e0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}

.footer-sub>a:focus,
.footer-sub>a:hover {
    text-decoration: none;
    color: #c78021e0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}

/*-------------------------------------------- Section 1 - Home Page */

.home-page {
    background-color: black;
}

.carousel-caption {
    top: 60%;
    transform: translateY(-60%);
    text-shadow: none;
    text-align: center;
}

.carousel-inner>.item>img {
    height: 100vh;
    max-width: none;

}

.carousel-indicators {
    z-index: 2;
}


/*-------------------------------------------- Section 2 - Services */

.services-page {
    background: url("../images/bg2.jpg") no-repeat center center fixed, #999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
    height: 100vh;
    width: 100vw;
    color: #f5f5f5;

}

.box-services {
    background-color: #fff;
    color: #333;

    margin: 10px;
    padding: 5px 0;
    box-sizing: content-box;
    border-radius: 15px;

    width: 200px;
    height: auto;

    display: inline-block;
    text-align: center;
    vertical-align: top;

    opacity: 0.75;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.box-services:hover {
    opacity: 1;
}


/*-------------------------------------------- Section 3 - Docor */

.doctor-page {
    background-color: rgba(17, 64, 83, 0.9);
    overflow: auto;
    padding: 30px 15px;
}

.block-work {
    display: block;
    text-align: center;
}

.paragraph-work {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    color: #fafafa;
}

img.image-veto {
    height: 200px;
    width: auto;
    border: 5px solid #fafafa;
    background-color: #ffffff;
    margin: 20px 0;
}

/* Styling the timeline */

h5 {
    margin: 5px 0;
    font-size: 20px;
    color: #fafafa;
    font-weight: bold;
}

/* Code for a Timeline */

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: ' ';
    background: #fafafa;
}

.timeline-div {
    margin-bottom: 30px;
}


/*-------------------------------------------- Section 4 - About Us */

.about-page {
    background: url("../images/bg4.jpg") no-repeat center center fixed, #999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100vw;
    height: auto;
    color: #777;

    text-align: center;
}

.box-about {
    width: 250px;
    height: 200px;

    margin: 10px;
    padding-top: 10px;

    background-color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    vertical-align: top;

    opacity: 0.75;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.box-about:hover {
    opacity: 1;
}

h4 {
    margin-bottom: 5px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.about-page ul li i {
    font-size: 40px;
}

.about-page i.fa.fa-envelope,
.about-page i.fa.fa-phone {
    font-size: 16px;
}

.about-page ul li a {
    text-decoration: none;
    color: #777;
}

button.btn.btn-lg {
    font-size: 13px;
    background-color: #333;
    color: #f5f5f5;
    border-radius: 15px;
}

button.btn.btn-lg.btn-back {
    border-radius: 50px;
    color: #777;
    background-color: #f5f5f5;
    margin-top: 15px;
}

button.btn.btn-lg:hover,
button.btn.btn-lg.btn-back:hover,
.about-page ul li a:hover {
    color: #c78021e0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}


/*-------------------------------------------- Section 5 - Contact Us */

.contact-page {
    background: url("../images/bg5.jpg") no-repeat center center fixed, #999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100vh;
    width: 100vw;
    color: #f5f5f5;
    text-align: center;
    overflow: auto;
}

.bg-layer {
    background-color: rgba(17, 64, 83, 0.9);
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
}

.bg-space {
    background-color: transparent;
    height: 100vh;
}

.wrapper-form {
    margin-top: 20vh;
}

.center-form {
    width: 100%;
}

.center-form form input,
.center-form form textarea,
.center-form form button {
    margin-top: 15px;
    border-radius: 15px;
}

.center-form form button {
    border-radius: 50px;
    color: #777;
    background-color: #f5f5f5;
}

.center-form form button:focus,
.center-form form button:hover {
    color: #c78021e0;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
}


/*-------------------------------------------- Modal Form Styling */

.form-notice {
    font-size: 13px;
    font-style: italic;
    font-weight: lighter;
}

button.btn.btn-success {
    border: none;
    background-color: #286090;
}

/*-------------------------------------------- Media Queries */

@media (min-width:594px) {
    footer {
        font-size: 14px;
    }
}

@media (min-width:624px) {
    .box-about {
        width: 250px;
        height: 230px;
        margin: 15px;
        padding-top: 20px;
    }
    .box-title {
        margin-bottom: 20px;
        font-size: 22px;
    }
}

@media (min-width:604px) {
    .wrapper-center-about-page {
        margin-top: 50vh;
        transform: translateY(-50%);
    }
    .about-page {
        height: 100vh;
    }
}

@media (max-width:320px) {
    .wrapper-form {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
